@import 'nib'
@import 'colours'
@import 'variables'

// css reset
global-reset()

// disable OS X over-scroll
html, body
	width 100%
	height 100%
	overflow hidden

body
	font-family 'Open Sans', sans-serif
	background-color $blue500
