$increment = 64px
$increment2 = $increment * 0.5
$increment4 = $increment * 0.25
$increment8 = $increment * 0.125
$increment16 = $increment * 0.0625
$increment32 = $increment * 0.03125

$fullBlack = rgba(0, 0, 0, 1)
$darkBlack = rgba(0, 0, 0, 0.87)
$lightBlack = rgba(0, 0, 0, 0.54)

$fullWhite = rgba(255, 255, 255, 1)
$darkWhite = rgba(255, 255, 255, 0.87)
$lightWhite = rgba(255, 255, 255, 0.54)

$borderRadius = 3px
